/*-----fonts---*/
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*shared styles*/
/*start*/
*{
    margin: 0px;
    padding: 0px;
}
.logo-style{
    color: rgba(78, 71, 255, 1);
    font-weight: 900; 
}
.button-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 48px;
}
/*end*/

/*---header----*/

header{
    background-image: url("Assets/Hero-bg.png");
    
}

/*------navbar-----*/

nav h1{
    font-size: 34px;
}
nav button{
    width: 174px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px 0px ;
}
.text-center{
    text-align: center;
}

/*-----banner----*/
.banner{

    width: 905px;
    margin: 309px auto 0px;
    text-align: center;
    padding-bottom: 152px;
}
.banner-text{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
}
.banner button{
    margin-top: 37px;
    width: 174px;
    
}


/*---main---*/

/*---action---*/

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 116px auto;
}

.action .action-right img{
    border-radius: 48px;
}

.action .text{
    margin-bottom: 23px;
}

.action h2{
    font-size: 42px;
    font-weight: bold;
}
.action p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 600;
}
.action button{
    width: 229px;
}

/*productive user section*/
.Productive-Users{
    width: 1140px;
    height: 306px;
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 116px auto 137px;
    border-radius: 24px;
}
.data-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:158px;
    
}
.Productive-Users-title{
    padding: 50px 142px;
}
.data{
    columns: rgba(37, 36, 50, 1);
    font-size: 38px;
}
.data-title{
    font-size: 80px;
    font-weight: bold;
}

.data-sub-title{
    font-size: 20px;
    font-weight:600 ;
    color: rgba(0, 0, 0, 0.5);
}
/*---user review section---*/
.user-review{
   
    width: 1140px;
    margin: 0px auto;

}
.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    width: 366px;
    height: 243px;
    padding: 20px 30px 0px;
}

.user{
    display: flex;
    gap: 12px;
}

.card-spacing{
    margin-bottom: 24px;
}
.card{
    border: none;
    border-radius: 14px;
    border: 1px solid rgb(241, 241, 241);
}
.user h5{
    color: rgba(117, 117, 117, 1);
}
.user h6{
    color: rgba(179, 179, 179, 1);
}

.user img{
    border-radius: 999px;
}

